.App {
  text-align: center;
  display: grid;
  grid-template-areas:
  "s r a sa"
  "s r a sa"
  "s w w w";
  background-color: rgb(177, 177, 177);
}

.App-link {
  color: #61dafb;
}

.Sidebar,
.AvgRate,
.Reviews,
.SentAnaly,
.WebVisi {
  border: 1px solid black;
  margin: 10px;
}

.Sidebar{
  background-color: rebeccapurple;
  grid-area: s;
  height: 697px;
}

.Reviews{
  background-color: blue;
  grid-area: r;
  height: 300px;
}

.AvgRate{
  background-color: yellow;
  grid-area: a;
  height: 300px;
}

.SentAnaly{
  background-color: green;
  grid-area: sa;
  height: 300px;
}

.WebVisi{
  background-color: palevioletred;
  grid-area: w;
  height: 369px;
}

.overlay{
  width: 900px;
  height: 190px;
  background-color: rgb(195, 179, 179);
  margin: 0 auto;
}

h3{
  text-decoration: underline;
}

ul{
  display: list-item;
  list-style: none;
  margin: 0px;
  padding: 0px;
}







/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
/* } */



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
